<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Create</title>
    <style> 

#whatever {
	color: rgb(10,20,30);
}
h1{
	color:red;
}
h2{
	color:green;
}


    </style>
</head>
<body>
    <h1 id="whatever">{{title}} </h1>
    <h1 id="omg"> {{user}} </h1>
    <h2> Write here </h2>

   <p> {{content}} </p>

   <ol>
   {% for some_variable in list %}

   <li> {{some_variable.title}} - {{some_variable.id}}</li>

   {%endfor%}
  
   </ol>

<ul>
   <li> {{first.title}}</li>
   <li> {{first.content}} </li>
   <li>{{first.updated}}</li>
   <li>{{first.timestamp}}</li>

   
   </ul>

   <div></div>


</body>
</html>